body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white ;
}


.container-cust{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 150px;
    align-items: center;
    background-color: darkblue;
}

.header{
    width: max-content;
    height: max-content;
    white-space: nowrap;
    font-size: 5.5rem;
    font-family: 'Josefin Sans', sans-serif;;
    color: white;
    background-color: darkblue;
    width: auto;
    text-align: center;
}

.game-button {
    position: relative;
    top: 0;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    font-family: 'Carter One', sans-serif;
    font-size: 3rem;
    line-height: 1.5em;
    letter-spacing: .1em;
    text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px  #004a87;
    border: none;
    margin: 15px 15px 30px;
    background: repeating-linear-gradient( 45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
    border-bottom: 3px solid rgba(16, 91, 146, 0.5);
    border-top: 3px solid rgba(255,255,255,.3);
    color: #fff !important;
    border-radius: 8px;
    padding: 8px 15px 10px;
    box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0,0,0,.3);
    margin-top: 50px;
  }

  .game-button.green {
    background: repeating-linear-gradient( 45deg, #54d440, #54d440 5px, #52cc3f 5px, #52cc3f 10px);
     box-shadow: 0 6px 0 #36b922, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #2a6d20, 0 12px 0 5px #39822e, 0 15px 0 5px #1d4c16, 0 15px 1px 6px rgba(0,0,0,.3);
     border-bottom: 3px solid rgba(40, 117, 29, 0.5);
     text-shadow: 2px 2px 1px #36b922, -2px 2px 1px #36b922, 2px -2px 1px #36b922, -2px -2px 1px #36b922, 0px 2px 1px #36b922, 0px -2px 1px #36b922, 0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16, -2px 4px 1px #1d4c16;
 }
 .game-button.green:hover {
   top:2px;
   box-shadow: 0 4px 0 #348628, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #2a6d20, 0 10px 0 5px #39822e, 0 13px 0 5px #1d4c16, 0 13px 1px 6px rgba(0,0,0,.3);
 }
 

 .theT{
  font-size: 15rem;
  color: #36b922;
 }


 @media(max-width:480px){

  body{
    display: flex;
    flex-direction: column;

    height: 100vh;
  }

  .container-cust{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
    align-items: center;
    background-color: darkblue;
}

.header{
    white-space: nowrap;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;;
    color: white;
    background-color: darkblue;
    width: auto;
    text-align: center;
}

.theT{

  font-size: 3rem;
}

.game-button{
  font-size: 1rem;
  margin-top: 60%;
}


.header h1{
  padding-bottom: 50px;
  margin-bottom: 50px;
}

}
